*, ::after, ::before {
  box-sizing: border-box;
}
.body {
  margin: 0;
}
.container {
  min-width: 320px;
  margin: 0 15px;
  align-items: center;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .container {
    min-width: 768px;
    max-width: 1199px; 
  margin: 0;
  }

}
@media screen and (min-width:1200px) {
  .container{
    max-width: 1200px;
    margin: 0 auto;
  
  }
}
