$primaryFont: "Roboto";
.contact-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-menu__link {
  text-decoration: none;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  color: getColor("secondary");

  &:hover,
  &:focus {
    color: getColor("accent");
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contact-menu__icon {
  fill: getColor("secondary");
  margin-right: 8px;

  .contact-menu__link:hover & {
    fill: getColor("accent");
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .contact-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-menu {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 345px;
  }
  
   .contact-menu__link {
    font-size: 14px;
    line-height: 16px;
  }

}
